@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #ebebeb;
}

/* CSS */
.button {

 
}

.button:hover,
.button:focus { 
  background-color: #10988d;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

